Start
=== test/source/lab/00.test ===
l
--- Test --->
Ошибка при загрузке файла 'lab.data'
=== test/source/lab/01.test ===
--- Test --->
Выполнение завершено успешно
=== test/source/lab/02.test ===
s /
--- Test --->
Ошибка при сохранении файла '/'
=== test/source/lab/03.test ===
c all
--- Test --->
Некорректное количество аргументов команды clean
=== test/source/lab/04.test ===
add_festival
--- Test --->
Некорректное количество аргументов команды add_festival
=== test/source/lab/05.test ===
r
--- Test --->
Некорректное количество аргументов команды remove
=== test/source/lab/06.test ===
u
--- Test --->
Некорректное количество аргументов команды update
=== test/source/lab/07.test ===
delete 1
--- Test --->
Недопустимая команда 'delete'
=== test/source/lab/08.test ===
view all
--- Test --->
Некорректное количество аргументов команды view
=== test/source/lab/09.test ===
ad ffff fff f ff
--- Test --->
Некорректное количество аргументов команды add_day
=== test/source/lab/10.test ===
ag ffff hhfgf fhg ffdfd
--- Test --->
Некорректное количество аргументов команды add_group
=== test/source/lab/11.test ===
af Фестиваль
af Фестиваль2
af Фестиваль3
s
v
--- Test --->
[0] Фестиваль
[1] Фестиваль2
[2] Фестиваль3
Количество элементов в коллекции: 3
Выполнение завершено успешно
=== test/source/lab/12.test ===
l
r 2
s
v
--- Test --->
[0] Фестиваль
[1] Фестиваль2
Количество элементов в коллекции: 2
Выполнение завершено успешно
=== test/source/lab/13.test ===
l
u 0 Фестиваль3
s
v
--- Test --->
[0] Фестиваль3
[1] Фестиваль2
Количество элементов в коллекции: 2
Выполнение завершено успешно
=== test/source/lab/14.test ===
l
ad 0 130
ad 0 500
ad 1 10
s
v
--- Test --->
[0] Фестиваль3
 [0] 130
 [1] 500
[1] Фестиваль2
 [0] 10
Количество элементов в коллекции: 2
Выполнение завершено успешно
=== test/source/lab/15.test ===
l
ag 0 0 Группа2
ag 0 1 Группа10
ag 0 0 Группа1
ag 1 0 Группа5
s
v
--- Test --->
[0] Фестиваль3
 [0] 130
   [0] Группа2
   [1] Группа1
 [1] 500
   [0] Группа10
[1] Фестиваль2
 [0] 10
   [0] Группа5
Количество элементов в коллекции: 2
Выполнение завершено успешно
=== test/source/lab/16.test ===
l
rp
--- Test --->
Report:
Festival: Фестиваль3
  days:
  day1: 500 sold beer, groups: Группа10 
  day2: 130 sold beer, groups: Группа2 Группа1 
Festival: Фестиваль2
  days:
  day1: 10 sold beer, groups: Группа5 
Выполнение завершено успешно
=== test/source/lab/17.test ===
c
--- Test --->
Выполнение завершено успешно
